# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__ List popular languages for Data Science
1. R
2. Python
3. SQL

__Some of the popular languages that Data Scientists use are:__

1. Python
2. SQL
3. R

**Some of the commonly used libraries used by Data Scientists include:**

1. Pandas
2. TensorFlow
3. SciPy

| __Data Science Tools__ |
| ----------------------------- | 
| Jypyter Notebook |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers

answer = (3*4)+5
print(answer)

17

In [7]:
#This will convert 200 minutes to hours by diving by 60 

answer = (200/60)
print(answer)

3.3333333333333335

## Author
Nomi E.